*{
box-sizing: border-box;
}
h1 {
margin-bottom: 15px;
}
p {
border: 1px solid black;
width: 90px;
height: 150px;

font-family: helvetica;
margin-bottom: 15px;
margin-top: 15px;
background-color:lightblue;
padding: 5px;

}
div{
background-color:gray;
border: 1px solid black;
position: relative;
padding: 5PX;
margin-top: 5px;
border-radius: 10px;

}

.containerBoxes{

float: left;
border: 1px solid black;
}

#p1{
  top: 5px;
width: 80%;
height: 200px;
left: 10%;
}
#p2{
  top:10px;
width: 80%;
left: 10%;
height: 200px;

}
#p3{
  top: 15px;
width: 80%;
left: 10%;
height: 200px;

}
#p11{
  position: absolute;
  top: -15px;
  right: 5px;
  height: 80px;


}
#p12{
  position: absolute;
  top: -15px;
  right: 5px;
  height: 80px;

}
#p13{
  position: absolute;
  top: -15px;
  right: 5px;
  height: 80px;


}


 @media (min-width: 1200px)
 {
  .containerBoxes{
  top: 200px;
  float: left;
  border: 1px solid black;
  }

  #p1{
  width: 25%;
  height: 300px;
  left: 10%;
  }
  #p2{
  width: 25%;
  left: 13%;
  height: 300px;

  }
  #p3{
  width: 25%;
  left: 17%;
  height: 300px;

  }
 }
 @media (min-width: 950px) and (max-width: 1199px)
 {
   .containerBoxes{


   border: 1px solid black;
   }
   #p1{
     top: 0px;
   width: 35%;
   height: 300px;
   left: 10%;
   }
   #p2{
     top: 0px;
     width: 35%;
     height: 300px;
   left: -13%;

   float: right;

   }
   #p3{
     top:50px;
   width: 78%;
   left: 10%;
   height: 300px;

   }
  }
 }
